---
import './src/styles/global.css'
import Head from '../../../components/Head.astro';
import BondCalculator from '../../../components/react/bond-calculator/Calculator.tsx';
---

<html lang="en">
	<Head />
	<body>
        <main>
            <BondCalculator />
        </main>
    </body>
</html>