---
import MainLayout from '../../layouts/MainLayout.astro';
import SvelteCounter from '../../components/svelte/SvelteCounter.svelte';
---

<MainLayout>
	<SvelteCounter client:visible>
		<h1>Hello, Svelte!</h1>
	</SvelteCounter>
</MainLayout>