---
import SvelteCounter from '../../components/svelte/SvelteCounter.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>UI Playground | Svelte</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
        <SvelteCounter client:visible>
            <h1>Hello, Svelte!</h1>
        </SvelteCounter>
    </body>
</html>