---
import MainLayout from '../../layouts/MainLayout.astro';
import VueCounter from '../../components/vue/VueCounter.vue';
---

<MainLayout>
	<VueCounter client:visible>
		<h1>Hello, Vue!</h1>
	</VueCounter>
</MainLayout>