@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.counter{
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2em;
    place-items: center;
}
.message {
    text-align: center;
}

@theme {
  --font-roboto: "Inter", sans-serif; 
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer components {
  .bond-calculator {
    font-family: var(--font-roboto);
    color: white;
    background-color: var(--color-teal-900);
    height: 100dvh;
    width: 100vw;
    padding-top: calc(var(--spacing) * 8);
    overflow: auto;
  }
}