---
import Head from '../components/Head.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>
    <Header slot="header" />
        <a href="/react/bond-calculator">Bond Calculator</a>
    Home Page
    <Footer slot="footer" />
</MainLayout>
