---
import ReactCounter from '../components/react/Counter.jsx';
import SvelteCounter from '../components/svelte/SvelteCounter.svelte';
import VueCounter from '../components/vue/VueCounter.vue';

const someProps = {
	count: 10,
};

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>UI Playground</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<ReactCounter { ...someProps } client:visible>
            <h1>Hello, React!</h1>
        </ReactCounter>
        
        <SvelteCounter client:visible>
            <h1>Hello, Svelte!</h1>
        </SvelteCounter>
        
        <VueCounter client:visible>
            <h1>Hello, Vue!</h1>
        </VueCounter>
	</body>
</html>
