<header class="py-3">
    <div class="container">
        <a href="/">Home</a>
        <a href="/react">React</a>
        <a href="/svelte">Svelte</a>
        <a href="/vue">Vue</a>
    </div>
</header>