---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
---

<html lang="en">
	<Head />
	<body>
        <main>
            <Header />
            <slot />
            <Footer />
        </main>
    </body>
</html>